@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@* <BetterCounter Title="Counter 1" StartingValue="1"/>
<BetterCounter Title="Counter One million" StartingValue="10000000" /> *@